.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 20px;
  overflow: hidden;
}

.card__header {
  position: absolute;
  display: flex;
  max-width: 100%;
  top: 15px;
  gap: 5px;
  align-items: center;
  cursor: default;
}

.card__name {
  margin: 0;
  top: 15px;
  width: fit-content;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 2px 12px 2px 12px;
  font-family: "CabinetGrotesk-meidum" serif;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
  text-align: center;
}

.card__image {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #0000004d;
}

.card__like_btn {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 18px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
}

.card__like-btn_active {
  opacity: 1;
  visibility: visible;
  border: none;
  background-color: transparent;
}

.card__like-img {
  object-fit: cover;
  cursor: pointer;
}